@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SuisseIntl-Medium", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "SuisseIntl-Medium";
  src: url("/SuisseIntl-Medium/SuisseIntl-Medium.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.page-margin {
  margin: 26px;
}

@media screen and (max-width: 500px) {
  .page-margin {
    margin: 20px;
  }
}

.hover-line-through:hover {
  text-decoration: line-through;
}

.page {
  display: flex;
  flex-direction: row;
}

.book-image {
  transition: opacity 0.3s; /* Add a smooth transition effect */
}

.book-image:hover {
  opacity: 0.3; /* Reduce opacity on hover (you can adjust the value) */
}

.op {
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  .book-text {
    font-size: 2vw;
  }
}

@media screen and (min-width: 700px) {
  .info {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 700px) {
  .info {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1400px) {
  .info {
    font-size: 2.1vw;
  }
}

.color {
  background-color: rgb(248, 247, 235);
}

.opaque-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the color and opacity to your needs */
  pointer-events: none; /* Prevents the pseudo-element from capturing click events */
  z-index: -1; /* Place it behind the content of the div */
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid #555;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

/* Set background color for checked checkbox using the .checked class */
.custom-checkbox .checkmark.checked {
  background-color: rgb(239 68 68);
}

/* Style for the checkmark icon (hidden by default) */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}

/* Show the checkmark when the checkbox has the .checked class */
.custom-checkbox .checkmark.checked:after {
  display: block;
}

input {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
  border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 0, 0); /* Change the text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevents quick flash of autofill color */
  background: rgb(
    254 202 202
  ); /* Set your desired autofill background color here */
}

/* If you want to change the shadow color for the autofill (optional) */
input:-webkit-autofill::first-line {
  font-family: inherit; /* Ensures consistent font */
  font-size: inherit; /* Ensures consistent font size */
  color: black !important; /* Adjust if necessary */
}
.specific-input:-webkit-autofill,
.specific-input:-webkit-autofill:hover,
.specific-input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(239 68 68); /* Sets text color */
  transition: background-color 5000s ease-in-out 0s; /* Override the yellow background */
}

/* Firefox */
.specific-input:-moz-autofill,
.specific-input:-moz-autofill-preview {
  color: rgb(239 68 68); /* Sets text color */
}

/* Internet Explorer */
.specific-input:-ms-input-placeholder {
  color: rgb(239 68 68);
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background: white;
}
